pom-generated.xml
Manifest.txt
criterium.jar
criterium-standalone.jar
lib
classes
autodoc/**
doc/**
java.hprof.*
.nrepl-port
.lein-deps-sum
.lein-repl-history
.lein-failures
.ritz-exception-filters
target
checkouts
.lsp
.idea
*.iml
